.loading-spinner{
    width: 8rem;
    height: 8rem;
    display: inline-block;
    border: 5px solid #f09d51;
    border-radius: 50%;
    border-top-color: #e7b483;
    margin-bottom: 2rem;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.loading-dots > div{
    width: 2rem;
    height: 2rem;
    background-color: #f09d51;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
}

.loading-dots .bounce{
    animation-delay: -0.30s;
}
.loading-dots .bounce2{
    animation-delay: -0.15s;
}

@keyframes bounce{
    0%, 80%, 100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}