
.hidden{
    display:none !important;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
    font-size: 40px;
    padding: 20px;
}
.container{
    max-width: 80%;
    background-color: rgb(255, 231, 96);
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
}
.date{
    min-width: 40%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}
.buton{
    display: flex;
    justify-content: center;
    min-width: 150px;
    height: 30px;
    margin: 0 auto;
    background-color: rgb(79, 79, 236);
    color: white;
    border: 1px solid rgb(79, 79, 236);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    cursor: pointer;
}
table{
    width: 100%
}
table td, th{
    padding: 7px;
    text-align: center;
    font-size: 18px;
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: 1px solid #e9eaea;
    cursor: pointer;
}
#modificaBtn{
    background-color: rgb(161, 60, 161);
}
#stergeBtn{
    background-color: rgb(230, 23, 23);
}