@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Tillana', cursive;
    background-color: orange;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
}
.lista{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
    border: 2px dashed black;
}
.lista h1{
    font-size: 2.5rem;
    margin-top: 1em;
    text-align: center;
}
.lista i{
    font-size: 2rem;
    color: black;
    margin-right: 5px; 
}
#userInput{
    font-family: inherit;
    outline: none;
    border: 0;
    border-bottom: 3px solid black;
    width: 60%;
    font-size: 1.5rem;
}
#allItems{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}
.sortName{
    width: 120px;
    background-color: #000099;
    border: 1px solid #000099;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    color:white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.sortName:hover{
    background-color: #000066;
}
.sortare{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sortare i{
    color: white;
    font-size: 1rem;
}
table{
    width: 100%;
}
#markBtn{
    width: 140px;
    height: 40px;
    background-color: darkorange;
    border: 1px solid darkorange;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    color: black;
    text-align: center;
}
#markBtn:hover{
    color: white;
}


#addBtn{
    border-radius: 50%;
    font-family: inherit;
    font-size: 1rem;
    padding: 8px;
    background-color: darkorange;
    border: 1px solid darkorange;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}
  

@media(max-width:480px){
    .lista h1{
        font-size: 2rem;
    }
    .lista i{
        font-size: 1.5rem;
    }
    #userInput{
        font-size: 1rem;
    }
    #allItems{
        font-size: 1.5rem;
        margin-left: 25px;
    }
    .sortName{
        width: 100px;
        font-size: .9rem;
    }
    .sortare i{
        font-size: .9rem;
    }
}

@media(max-width:420px){
    #markBtn{
        margin-right: 0;
    }

    #allItems{
        font-size: 1.1rem;
        margin-left: 5px;
    }
}

@media(max-width:320px){
    #markBtn{
        margin-right: 0;
        width: 110px;
        font-size: .8rem;
    }

    #allItems{
        font-size: .9rem;
        margin-left: 5px;
    }
}
